


.tableWidth{
  max-width:   calc(100vw - 6.1rem) !important;

}

.group[data-state="expanded"] ~ main .tableWidth {
    width: calc(100vw - 20.2rem);
    transition: width 0.2s ease-in-out;

  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .bounce {
    animation: bounce 1.5s infinite;
  }